@import "@fontsource/inter/400.css";


:root 
{
  --font: 'Inter', sans-serif;

  /* =========================================
     1. TŁA I POWIERZCHNIE (SURFACES)
     ========================================= */
  --surface-base: #1f1f1f;     /* Główne tło strony (body) */
  --surface-element: #232428;  /* Tło elementów (np. select, textarea, menu) */
  --surface-hover: #38393f;    /* Tło po najechaniu myszką / nagłówki tabel */
  --surface-border: #3e4047;   /* Kolor ramek i obramowań (border) */

  /* =========================================
     2. TEKSTY (TYPOGRAPHY)
     ========================================= */
  --text-primary: #ffffff;     /* Główny tekst */
  --text-secondary: #c1c2c5;   /* Słabszy tekst (np. placeholder, opisy) */
  --text-disabled: #808080;    /* Tekst zablokowanych elementów */
  --text-inverse: #000000;     /* Tekst na kolorowym tle (np. na czerwonym przycisku) */

  /* =========================================
     3. KOLORY AKCENTUJĄCE (BRAND & STATUS)
     ========================================= */
  --color-primary: #fa5252;        
  --color-primary-hover: #c53a2e;  
  
  --color-success: #3eff78;        
  --color-success-hover: #35ca62;
  
  --color-info: #527aff;           
  --color-info-hover: #2548be;

  /* =========================================
     4. ROZMIARY I ODSTĘPY (SPACING)
     ========================================= */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Rozmiary czcionek */
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  
  /* Zaokrąglenia */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}

[data-theme="light"]
{
  --surface-1: #ffffff; 
  --surface-2: #e4e4e4; 
  --surface-3: #c0c0c0; 
  --surface-4: #b8b8b8;

  --text-1: #000000;
  --text-2: #000000;
  --text-3: #000000;
  --text-4: #000000;

  --accent: #ff6262;

  --color-blue: #003cff;
  --color-green: #3eff6b;
  --color-red: #ff0019;
  --color-orange: #ffa742;
  --color-purple: #a200ff;
  --color-yellow: #ffff00;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  --logo-filter: invert(1);
}

body
{
  background-color: var(--surface-base);
  color: var(--text-primary);
  margin: 0;
}

*
{
  font-family: var(--font);
}