@import "@fontsource/inter/400.css";

:root
{
  /* General */
  --font: 'Inter', sans-serif;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --size-sm: 0.75rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  --surface-background: hsl(0, 0%, 12%);
  --surface-element-background: hsl(228, 7%, 15%);
  --surface-element-sub-background: hsl(0, 14%, 7%);
  --surface-element-border-color: hsl(227, 7%, 26%);

  --text-color: hsl(0, 0%, 100%);

  --accent-color: hsl(0, 94%, 65%);

  /* Alert */
  --alert-success-background: hsl(116, 100%, 75%);
  --alert-warning-background: hsl(45, 100%, 72%);
  --alert-info-background: hsl(219, 100%, 50%);
  --alert-error-background: hsl(0, 100%, 66%);

  --alert-success-border-color: hsl(116, 35%, 40%);
  --alert-warning-border-color: hsl(45, 37%, 44%);
  --alert-info-border-color: hsl(219, 100%, 14%);
  --alert-error-border-color: hsl(0, 53%, 35%);

  --alert-success-text-color: hsl(0, 0%, 0%);
  --alert-warning-text-color: hsl(0, 0%, 0%);
  --alert-info-text-color: hsl(0, 0%, 100%);
  --alert-error-text-color: hsl(0, 0%, 0%);

  /* Logo */
  --logo-invert-mode: 0;

  /* Path */
  --path-background: var(--surface-element-background);
  --path-border-color: var(--surface-element-border-color);
  --path-chain-background: var(--accent-color);

  /* Dialog */
  --dialog-backdrop-filter: blur(4px);
  --dialog-background-background: hsla(0, 0%, 0%, 0.5);
  --dialog-border-color: var(--surface-element-border-color);
  --dialog-background: var(--surface-element-background);
  --dialog-footer-background: var(--surface-element-sub-background);




  

  
  /* TO FIX */
    --color-error: #ff5454;
  --color-warning: #ffdc71;
  --color-success: hsl(116, 100%, 75%);
  --color-info: #0059ff;

  --text-error: #000000;
  --text-warning: #000000;
  --text-success: #000000;
  --text-info: #fff;

  --color-green: #3eff78;
  --color-blue: #527aff;
  --color-red: #ff4e4e;
  --color-orange: #ff7e05;
  --color-yellow: #ffff00;
  --color-purple: #7e1ca5;

  --color-green-hover: #35ca62;
  --color-blue-hover: #2548be;
  --color-red-hover: #c50000;
  --color-orange-hover: #c55a04;
  --color-yellow-hover: #c5c500;
  --color-purple-hover: #5e1370;


  /* =========================================
     1. TŁA I POWIERZCHNIE (SURFACES)
     ========================================= */
  --surface-base: #1f1f1f;     /* Główne tło strony (body) */
  --surface-element: #232428;  /* Tło elementów (np. select, textarea, menu) */
  --surface-hover: #38393f;    /* Tło po najechaniu myszką / nagłówki tabel */
  --surface-border: #3e4047;   /* Kolor ramek i obramowań (border) */
  --surface-marked: #3e4047;   /* Kolor zaznaczenia (np. zaznaczony tekst) */








  /* =========================================
     2. TEKSTY (TYPOGRAPHY)
     ========================================= */
  --text-primary: #ffffff;     /* Główny tekst */
  --text-secondary: #c1c2c5;   /* Słabszy tekst (np. placeholder, opisy) */
  --text-disabled: #808080;    /* Tekst zablokowanych elementów */
  --text-inverse: #000000;     /* Tekst na kolorowym tle (np. na czerwonym przycisku) */

  /* =========================================
     3. KOLORY AKCENTUJĄCE (BRAND & STATUS)
     ========================================= */
  --color-primary: #fa5252;        
  --color-primary-hover: #c53a2e;  
  
  /* --color-success: #3eff78;        
  --color-success-hover: #35ca62; */
  
  --color-info: #527aff;           
  --color-info-hover: #2548be;
  --color-success-hover: rgb(71, 192, 62);
}


body
{
  background-color: var(--surface-background);
  color: var(--text-color);
  margin: 0;
  font-size: var(--size-md);
}

*
{
  font-family: var(--font);
}

p, h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}












*
{
  scrollbar-width: thin;
  scrollbar-color: var(--surface-border) var(--surface-element);
}

*::-webkit-scrollbar 
{ 
  width: 10px; 
  height: 10px; 
}
    
*::-webkit-scrollbar-track, *::-webkit-scrollbar-corner 
{
  background: var(--surface-element);
}

*::-webkit-scrollbar-thumb 
{
  background-color: var(--surface-border);
  border-radius: var(--radius-md);
  border: 2px solid var(--surface-element);
}

*::-webkit-scrollbar-thumb:hover 
{
  background-color: var(--color-primary);
}