:root
{
    --onyks-font: 'Inter', sans-serif;

    --onyks-spacing-sm: 8px;
    --onyks-spacing-md: 16px;
    --onyks-spacing-lg: 24px;
    --onyks-spacing-xl: 32px;

    --onyks-size-sm: 0.75rem;
    --onyks-size-md: 1rem;
    --onyks-size-lg: 1.25rem;
    --onyks-size-xl: 1.5rem;
    --onyks-size-2xl: 1.75rem;
    --onyks-size-3xl: 2rem;
    --onyks-size-4xl: 2.5rem;
    
    --onyks-radius-sm: 4px;
    --onyks-radius-md: 8px;
    --onyks-radius-lg: 12px;
    --onyks-radius-xl: 16px;
}

/* Default and dark theme */
:root, [data-onyks-theme="dark"]
{
    /* General */
    --onyks-surface: #1f1f1f;
    --onyks-on-surface: #fff;
    
    /* Elements */
    --onyks-surface-1: #242529;
    --onyks-on-surface-1: #fff;
    --onyks-surface-1-hover: #37383e;
    --onyks-surface-1-selected: #3e4047;
    --onyks-surface-1-border: #6c6d70;
    --onyks-surface-1-placeholder: #98999e; /* DODAJ DO INNYCH MOTYWÓW POZDRAWIAM UWU */

    --onyks-surface-2: #3a3c40;
    

    /* Specialized colors */
    --onyks-accent: #fa5252;
    --onyks-on-accent: #000000;

    --onyks-success: #88ff80;
    --onyks-on-success: #000;

    --onyks-warning: #ffdb70;
    --onyks-on-warning: #000;

    --onyks-info: #0059ff;
    --onyks-on-info: #fff;

    --onyks-error: #ff5252;
    --onyks-on-error: #000;

    /* Classic colors */
    --onyks-red: #ff4949;
    --onyks-on-red: #fff;
    
    --onyks-blue: #0080ff;
    --onyks-on-blue: #fff;

    --onyks-green: #00ff73;
    --onyks-on-green: #000;

    --onyks-yellow: #fbff00;
    --onyks-on-yellow: #000;
    
    /* Scrollbar */
    --onyks-scroll-track: transparent;
    --onyks-scroll-thumb: #414141;
    --onyks-scroll-size: 14px;


    /* Other */
    --onyks-logo-invert: 0;
}

[data-onyks-theme="blue"]
{
    /* General */
    --onyks-surface: #180d59;
    --onyks-on-surface: #fff;
    
    /* Elements */
    --onyks-surface-1: #21117a;
    --onyks-on-surface-1: #fff;
    --onyks-surface-1-hover: #1800a0;
    --onyks-surface-1-selected: #1e1457;
    --onyks-surface-1-border: #ffffff;

    --onyks-surface-2: #311e9c;
    

    /* Specialized colors */
    --onyks-accent: #0040ff;
    --onyks-on-accent: #ffffff;

    --onyks-success: #88ff80;
    --onyks-on-success: #000;

    --onyks-warning: #ffdb70;
    --onyks-on-warning: #000;

    --onyks-info: #0059ff;
    --onyks-on-info: #fff;

    --onyks-error: #ff5252;
    --onyks-on-error: #000;

    /* Classic colors */
    --onyks-red: #ff4949;
    --onyks-on-red: #fff;
    
    --onyks-blue: #0080ff;
    --onyks-on-blue: #fff;

    --onyks-green: #00ff73;
    --onyks-on-green: #000;

    --onyks-yellow: #fbff00;
    --onyks-on-yellow: #000;
    
    /* Scrollbar */
    --onyks-scroll-track: transparent;
    --onyks-scroll-thumb: #ffffff;
    --onyks-scroll-size: 14px;


    /* Other */
    --onyks-logo-invert: 0;
}

[data-onyks-theme="green"]
{
    /* General */
    --onyks-surface: #13410f;
    --onyks-on-surface: #fff;
    
    /* Elements */
    --onyks-surface-1: #26741f;
    --onyks-on-surface-1: #fff;
    --onyks-surface-1-hover: #446e41;
    --onyks-surface-1-selected: #26911c;
    --onyks-surface-1-border: #7eff72;

    --onyks-surface-2: #2b5427;
    

    /* Specialized colors */
    --onyks-accent: #22ff77;
    --onyks-on-accent: #000;

    --onyks-success: #88ff80;
    --onyks-on-success: #000;

    --onyks-warning: #ffdb70;
    --onyks-on-warning: #000;

    --onyks-info: #0059ff;
    --onyks-on-info: #fff;

    --onyks-error: #ff5252;
    --onyks-on-error: #000;

    /* Classic colors */
    --onyks-red: #ff4949;
    --onyks-on-red: #fff;
    
    --onyks-blue: #0080ff;
    --onyks-on-blue: #fff;

    --onyks-green: #00ff73;
    --onyks-on-green: #000;

    --onyks-yellow: #fbff00;
    --onyks-on-yellow: #000;
    
    /* Scrollbar */
    --onyks-scroll-track: transparent;
    --onyks-scroll-thumb: #87c743;
    --onyks-scroll-size: 14px;


    /* Other */
    --onyks-logo-invert: 0;
}

[data-onyks-theme="light"]
{
    /* General */
    --onyks-surface: #ffffff;
    --onyks-on-surface: #000;
    
    /* Elements */
    --onyks-surface-1: #c0c0c0;
    --onyks-on-surface-1: #000;
    --onyks-surface-1-hover: #818181;
    --onyks-surface-1-selected: #707070;
    --onyks-surface-1-border: #000000;

    --onyks-surface-2: #848484;
    

    /* Specialized colors */
    --onyks-accent: #0040ff;
    --onyks-on-accent: #ffffff;

    --onyks-success: #88ff80;
    --onyks-on-success: #000;

    --onyks-warning: #ffdb70;
    --onyks-on-warning: #000;

    --onyks-info: #0059ff;
    --onyks-on-info: #fff;

    --onyks-error: #ff5252;
    --onyks-on-error: #000;

    /* Classic colors */
    --onyks-red: #ff4949;
    --onyks-on-red: #fff;
    
    --onyks-blue: #0080ff;
    --onyks-on-blue: #fff;

    --onyks-green: #00ff73;
    --onyks-on-green: #000;

    --onyks-yellow: #fbff00;
    --onyks-on-yellow: #000;
    
    /* Scrollbar */
    --onyks-scroll-track: transparent;
    --onyks-scroll-thumb: #000;
    --onyks-scroll-size: 14px;


    /* Other */
    --onyks-logo-invert: 0;
}

[data-onyks-theme="pink"]
{
    /* General */
    --onyks-surface: #ffaef1;
    --onyks-on-surface: #000;
    
    /* Elements */
    --onyks-surface-1: #ff58e3;
    --onyks-on-surface-1: #000;
    --onyks-surface-1-hover: #d558ff;
    --onyks-surface-1-selected: #c9aeff;
    --onyks-surface-1-border: #ff00d4;

    --onyks-surface-2: #ff5cbb;
    

    /* Specialized colors */
    --onyks-accent: #bf00ff;
    --onyks-on-accent: #ffffff;

    --onyks-success: #88ff80;
    --onyks-on-success: #000;

    --onyks-warning: #ffdb70;
    --onyks-on-warning: #000;

    --onyks-info: #0059ff;
    --onyks-on-info: #fff;

    --onyks-error: #ff5252;
    --onyks-on-error: #000;

    /* Classic colors */
    --onyks-red: #ff4949;
    --onyks-on-red: #fff;
    
    --onyks-blue: #0080ff;
    --onyks-on-blue: #fff;

    --onyks-green: #00ff73;
    --onyks-on-green: #000;

    --onyks-yellow: #fbff00;
    --onyks-on-yellow: #000;
    
    /* Scrollbar */
    --onyks-scroll-track: transparent;
    --onyks-scroll-thumb: #ff6daa;
    --onyks-scroll-size: 14px;


    /* Other */
    --onyks-logo-invert: 0;
}

body
{
    background-color: var(--onyks-surface);
    color: var(--onyks-on-surface);
    font-family: var(--onyks-font);
}


